<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="assignedTo" class="form-label">Assigned To</label>
    <input type="text" class="form-control" placeholder="Enter assignee" formControlName="assignedTo" />
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <input type="text" class="form-control" placeholder="Enter status" formControlName="status" />
  </div>
  <div class="mb-3">
    <label for="priority" class="form-label">Priority</label>
    <input type="text" class="form-control" placeholder="Enter priority level" formControlName="priority" />
  </div>
  <div class="mb-3">
    <label for="dueDate" class="form-label">Due Date</label>
    <input type="date" class="form-control" formControlName="dueDate" />
  </div>
  <div class="mb-3">
    <label for="comments" class="form-label">Comments</label>
    <textarea class="form-control" placeholder="Enter any comments" formControlName="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-primary">Update</button>
  <a routerLink="/" class="btn btn-outline-danger mx-2">Cancel</a>
</form>